[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Onur Yılmaz
	email = 99468040+onuryilmaz666@users.noreply.github.com
